<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['/home']">Angular2</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li [routerLinkActive]="['active']"><a [routerLink]="['/home']">{{ 'mainNav.home' | translate }}</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/products']">{{ 'mainNav.products' | translate
                }}</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/about']">{{ 'mainNav.about' | translate }}</a></li>
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['/cart']">{{ 'mainNav.cart' | translate }}</a>
                <span *ngIf="cartQuantity" class="products-quantity">{{cartQuantity}}</span>
            </li>
            <li class="dropdown language" dropdown>
                    <a href="#" class="dropdown-toggle" role="button" dropdownToggle>
                        {{ translateService.currentLang }}
                        <span class="caret"></span></a>
                    <ul dropdownMenu class="dropdown-menu">
                        <li *ngFor="let lang of translateService.getLangs()">
                            <a class="dropdown-item" (click)="changeLanguage(lang)">{{ lang }}</a>
                        </li>
                    </ul>
            </li>
        </ul>
    </div>
</nav>