.navbar {
    border-radius: 0;
}

.products-quantity {
    position: absolute;
    background-color: #449d44;
    color: #fff;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin-left: -15px;
    text-align: center;
    border-radius: 50%;
    top: 0;
    left: 100%;
}

.select-box {
    padding: 15px 20px;
}

.language {
    text-transform: capitalize;
    margin-left: 10px;
}

.dropdown-menu{
    min-width: 0;
}

.dropdown-item {
    cursor: pointer;
}
