<div class="product-item">
    <div class="product-quantity">
        {{product.quantity}}
    </div>
    <img src="{{product.image}}">
    <div class="product-caption">
        <h4>{{product.name}}</h4>
        <p>{{product.description}}</p>
        <p class="product-price">
            $ {{product.price}}
        </p>
        <button (click)="addToCart(product)" class="btn btn-success">{{ 'products.product.addToCart' | translate }}</button>
    </div>
</div>