.product-item {
    text-align: left;
    border: solid 1px #ccc;
    position: relative;
    margin-bottom: 30px;
}

.product-caption {
    padding: 10px 20px;
}

.product-quantity {
    font-size: 20px;
    top: -10px;
    right: -10px;
    position: absolute;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    color: #fff;
    background: #5bc0de;
}

.product-price {
    font-size: 20px;
    font-weight: bold;
}

.btn.btn-success{
    width:100%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0;
}