td.table-td {
    position: relative;
}

tfoot {
    font-weight: bold;
}

.pending .content {
    opacity: .3;
}

.pending .fa-spin {
    display: block;
}

.fa-spin {
    font-size: inherit;
    line-height: 40px;
    color: cornflowerblue;
    position: absolute;
    top: 0;
    left: -15px;
    display: block;
}

.alert-popup {
    width: 250px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 999999;
}

.remove-cartProduct {
    color: #d9534f;
    border: none;
    padding: 0;
    background: none;
    transition: opacity .4s ease;
    opacity: .7;
    outline: none;
    font-size: 20px;
}

.remove-cartProduct:hover {
    opacity: 1;
}

