<h1 class="head">{{ 'cart.title' | translate }}</h1>
<div *ngIf="!cartProducts.length" class="jumbotron">
    <p>{{ 'cart.productsDidNotAddMsg' | translate }}</p>
    <a [routerLink]="['/products']">{{ 'mainNav.products' | translate }}</a>
</div>
<div *ngIf="cartProducts.length">
    <table [ngClass]="{'pending': isPending()}" class="table">
        <thead>
        <tr>
            <th class="col-xs-7">{{ 'cart.productsList.product' | translate }}</th>
            <th class="col-xs-2">{{ 'cart.productsList.quantity' | translate }}</th>
            <th class="col-xs-2">{{ 'cart.productsList.price' | translate }}</th>
            <th class="col-xs-1"></th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor='let cartProduct of cartProducts'>
            <td [ngClass]="{'pending': isPending()}" class="col-xs-7 table-td">
                <i *ngIf="isPending()" class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                <div class="content">{{cartProduct.product.name}}</div>
            </td>
            <td class="col-xs-2">
                <input type="number"
                       id="{{'quantity' + cartProduct.product.id}}"
                       [(ngModel)]="cartProduct.quantity"
                       (ngModelChange)="onQuantityChanged(cartProduct)">
            </td>
            <td class="col-xs-2">
                {{cartProduct.product.price | currency:'USD':true}}
            </td>
            <td class="col-xs-1 text-center">
                <button (click)="removeCartProduct(cartProduct)" class="remove-cartProduct">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td class="col-xs-9">
                {{ 'cart.productsList.total' | translate }} :
            </td>
            <td>

            </td>
            <td>

            </td>
            <td class="col-xs-3">
                {{totalPrice | currency:'USD':true}}
            </td>
        </tr>
        </tfoot>
    </table>
    <div class="row">
        <div class="col-md-12">
            <button (click)="checkout()" class="btn btn-success pull-right">{{ 'cart.checkout' | translate }}</button>
        </div>
    </div>
</div>


<popup class="alert-popup"></popup>