<h1 class="head">{{ 'products.title' | translate }}</h1>
<pagination [totalItems]="total"
            [maxSize]="7"
            [(ngModel)]="page"
            (pageChanged)="pageChange($event)"
            [boundaryLinks]="true">

</pagination>
<div class="row">
    <i *ngIf="pending" class="center-fix main-spinner fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    <app-product class="col-md-4" [product]="product"
                 [ngClass]="{'pending' : pending}"
                 *ngFor='let product of products | BooleanPropFilter: "available"'>
    </app-product>
</div>

