@import 'bootstrap';
@import 'variables';
@import 'mixins';
@import 'functions';
@import 'fonts';
@import 'overrides';
@import 'module';



.page-title{
  margin-bottom: 30px;
}

img{
  max-width: 100%;
}

.head{
  color: #525252;
  margin-bottom: 40px;
  padding-bottom: 30px;
  border-bottom: dashed 1px #8b8b8b;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 3px;
}